@import './variables';

:root {
  --background-color: #F8F9FA;
  --light-color: #E9ECEF;
  --medium-color: #DEE2E6;
  --dark-color: #111111;
  --text: rgb(22, 22, 22);
  --link : #E9ECEF;
  --left-gradient: #a1dfce;
  --right-gradient: #6ac5ab;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  max-width: 100vw;
  overflow-x: hidden;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.6rem;
  color: ghostwhite;

  background: linear-gradient(90deg, var(--left-gradient) 0%, var(--right-gradient) 100%);
}

.alhambra {
  background: no-repeat 0 120%/100% url("../../public/Background.svg"), linear-gradient(90deg, var(--left-gradient) 0%, var(--right-gradient) 100%);
}

h1, h2, h3 {
  font-size: 3.5rem;
  text-align: center;
}

h2, h3 {
  font-size: 3.5rem;
}

p {
  text-align: justify;
  line-height: 2.3rem;
}

main {
  display: grid;
  place-items: center;
  grid-template-columns: minmax(2rem, 1fr) minmax(min-content, 1100px) minmax(2rem, 1fr);
}

seccion.page_container {
  grid-column: -1 / 1;
  min-height: calc(100vh - 50px); 

  @include flexbox-column;
  row-gap: 50px;

  width: 100%;
  padding: 5rem 2rem;
}

seccion.menu_container {
  grid-column: -1 / 1;
  min-height: calc(100vh - 100px); 

  @include flexbox-column;
  row-gap: 50px;

  width: 100%;
  padding: 5rem 0rem;

  background: url("../../public/pattern6.png");
  background-size: cover;
  background-attachment: fixed;
}


div.plates_container {
  max-width: 1100px;
  width: 100%;

  @include flexbox-row;
  flex-wrap: wrap;
  gap: 4rem;
}


a {
  color: var(--link);
  text-decoration: none;
  font-weight: 600;
}

@media (orientation: portrait) {
  .alhambra {
    background: no-repeat 0 97%/100% url("../../public/Background.svg"), linear-gradient(90deg, var(--left-gradient) 0%, var(--right-gradient) 100%);
  }

  seccion.menu_container {
    padding: 2rem 0;
    row-gap: 2rem;
  }

  seccion.drinks_container {
    padding: 2rem;
  }
}


