@import './variables';

.home_seccion {
    background: linear-gradient(rgb(0, 0, 0, 0.4) 0%, rgb(0, 0, 0, 0.4) 100%), url("../../public/bghome.webp");
    background-size: cover;
    background-attachment: fixed;
}

.home_header {
    max-width: 1100px;
    width: 100%;

    @include flexbox-column;
    row-gap: 1rem;
    padding: 2rem;

    border: 3px solid ghostwhite;
    border-radius: 10px;
    background: rgb(0, 0, 0, 0.7);

    .pride {
        background: linear-gradient(90deg,
                rgba(255, 0, 0, 1) 0%,
                rgba(255, 154, 0, 1) 10%,
                rgba(208, 222, 33, 1) 20%,
                rgba(79, 220, 74, 1) 30%,
                rgba(63, 218, 216, 1) 40%,
                rgba(47, 201, 226, 1) 50%,
                rgba(28, 127, 238, 1) 60%,
                rgba(95, 21, 242, 1) 70%,
                rgba(186, 12, 248, 1) 80%,
                rgba(251, 7, 217, 1) 90%,
                rgba(255, 0, 0, 1) 100%);
        background-clip: text;
        color: transparent;
    }

    .name {
        font-size: 5rem;
        text-shadow: 0 0 4px black;
    }

    .description {
        width: 60%;
        font-weight: 600;
    }
}

.about_seccion {
    min-height: calc(100vh) !important;

    .columns_container {
        max-width: 1100px;
        width: 100%;

        @include flexbox-row;
        flex-wrap: wrap;
        gap: 5rem;

        .about_content {
            flex: 1;
            font-weight: 500;

            a {
                margin-top: 1rem;
                border-color: black;
                color: black;
            }
        }
    
        .img_container {
            display: block;
            position: relative;
            overflow: hidden;
    
            flex: 1;
            aspect-ratio: 2 / 1;
            min-width: 300px;

            border-radius: 1rem;
            border: 2px solid ghostwhite;
    
            .img {
                object-fit: cover;
            }
        }
    }

    .black {
        color: black;
    }
}

.contact_seccion {
    background: black;

    .info_container {
        max-width: 1100px;
        width: 100%;

        @include flexbox-row;
        flex-wrap: wrap;

        gap: 5rem;

        .map {
            flex: 1;
            width: 100%;
            aspect-ratio: 2 / 1;

            border-radius: 1rem;
            border: 2px solid ghostwhite;
        }

        .directions_container {
            flex: 1;
            @include flexbox-column;
            align-items: flex-start;
            row-gap: 2rem;

            font-size: 1.8rem;
            font-weight: 600;

            address {
                margin-top: 1rem;
            }

            .social_container {
                @include flexbox-row;
                column-gap: 20px;

                .icon {
                    font-size: 3.5rem;
                    transition: transform 0.1s ease-in-out;

                    &:hover {
                        transform: scale(1.3)
                    }
                }

                .instagram {
                    color: rgb(255, 134, 239)
                }


                .facebook {
                    color: #4967c1;
                }

                .mail {
                    color: rgb(243, 255, 151);
                }
            }
        }
    }
}

@media (orientation: portrait) {
    .home_seccion {
        background: linear-gradient(rgb(0, 0, 0, 0.4) 0%, rgb(0, 0, 0, 0.4) 100%), url("../../public/bghome-portrait.webp");
        background-size: cover;
        background-position: center;
        background-attachment: fixed;

        .description {
            width: 100%;
            text-align: justify;
        }
    }

    .contact_seccion {
        .info_container {
            flex-direction: column;
            align-items: initial;
        }
    }

    .map {
        min-height: 200px;
    }

}