@import '../styles/variables';

.container {
    display: block;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    min-height: 100px;
    aspect-ratio: 2/1;
    flex: 0 0 250px;
    border-radius: 5px;

    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.img {
    object-fit: cover;
    filter: brightness(0.3);
    z-index: 1;
    transition: all 3s ease-in-out;

    &:hover {
        transform: scale(1.2) translate(0, -10px);
    }
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 2;
}

.link {
    color: white;
}


@media (max-width: 560px) {
    .container {
        flex-basis: 45%;
        aspect-ratio: 1/1;
    }

    .title {
        font-size: 1.6rem;
    }
}